// $theme_color:#084FB3;
$theme_color: #ac8642;
$error : #ff0048;
$black_1 : #767676;
$black_2 : #9e9e9e;
$black_3 : #7f7f7f;

// $themeColor: #084fb3;
$themeColor: #ac8642;
$errorTextColor: #ff5722;
$themeTextBlackColor: rgba(0, 0, 0, 0.87);
$themeLightBlack: rgba(0, 0, 0, 0.54);
$themeBorderColor: rgba(0, 0, 0, 0.2);
$themeBorderColor: #ebebeb;
